.post {
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
  }

  .post__header {
    display: flex;
    align-items: center;
    margin: 12px;
  }

  .post__header h3 {
    margin: 0px;
  }

  .post__avatar {
    margin-right: 10px;
  }

  .post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .tool_bar {
    text-align: left;
    margin: 4px 12px;
  }

  .like_numbers {
    font-weight: bold;
    font-size: small;
    text-align: left;
    margin: 0px 12px;
    margin-bottom: 4px;
  }

  .post__text {
    font-size: small;
    font-weight: normal;
    text-align: left;
    margin: 4px 12px;
  }
  
  .post__comments {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  .post__comment_counts {
    font-size: x-small;
    text-align: left;
    margin: 4px 12px;
    color: #555555;
  }
  
  .post__comment_counts:focus {
    color: #8E8E8E;
  }

  .post__time {
    font-size: xx-small;
    text-align: left;
    margin: 4px 12px;
    color: #8E8E8E;
  }
  
  .comment__wrapper {
    display: flex;
    width: inherit;
    background-color: #fafafa;
    margin-top: 4px;
    padding: 4px 12px;
    
  }
  
  .comment__Input {
    width: 80%;
    border: none;
    background: transparent;
  }
  
  .comment__Input:focus {
    border: none;
  }
  
  .comment__Button {
    text-align: center;
    /* font-family: sans-serif; */
    /* font-weight: bold; */
    /* font-size: small; */
  }

  