.box {}

.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1 {
    padding-bottom: 80px;
    text-align: center;
}

.iputItem {
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #666;
    width: 80%;
    padding: 5px 10px;
    margin-bottom: 30px;
}

.loginBtn {
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #666;
    width: 50%;
    padding: 5px 10px;
    margin-top: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.tip{
    color: red;
    margin-bottom: 80px;
}
.logo{
    width: 50%;
}
